[user]
	name = Oling Cat
	email = olingcat@gmail.com
[core]
	excludesfile = /Users/cat/.gitignore_global
	editor = vim
	autocrlf = false
	fileMode = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = current
[color]
	ui = true
[branch]
	autosetuprebase = always
